{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block sidebar %}
<div class="col-md-2">
    <div class="list-group">
        <a type="button" href="{% url 'tasks' %}" class="list-group-item list-group-item-action fs-5">Задачи</a>
        <a type="button" href="{% url 'calendar' %}" class="list-group-item list-group-item-action fs-5">Календарь</a>
        <a type="button" href="{% url 'pomodoro' %}" class="list-group-item list-group-item-action fs-5">Помодоро</a>
        <a type="button" href="{% url 'search' %}" class="list-group-item list-group-item-action fs-5">Поиск</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="list-group list-group-horizontal">
        <a type="button" href="{% url 'user_friends' user.id %}" class="list-group-item list-group-item-action fs-5">Друзья</a>
        <a type="button" href="#" class="list-group-item list-group-item-action active fs-5">Заявки в друзья</a>
    </div>
    {% for inviting_user in inviting_users %}
    <div class="card mb-3 mt-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ inviting_user.picture.url }}" class="img-fluid rounded-start" alt="someone">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{% url 'profile' inviting_user.id %}" class="card-title fs-4">{{ inviting_user.first_name }} {{ inviting_user.last_name }}</a>
                    <p class="card-text">{{ inviting_user.username }}</p>
                    <a href="{% url 'accept_friend' inviting_user.id %}" type="button" class="btn btn-success mt-4">Принять!</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}