<nav class="pt-3 pb-4 navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid ms-5">
        <a class="navbar-brand text-primary fw-bolder" href="{% url 'home' %}">ToDoApp!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-3 fs-5 text-dark" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bolder" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ authuser.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' authuser.id %}">Профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти!</a></li>
                    </ul>
                </li>
                <a class="nav-link ms-4 fw-bolder text-success" href="{% url 'find_friends' %}">Найти друзей</a>
            </ul>
        </div>
    </div>
</nav>
